<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoanEMICalculator"
        tools:targetApi="31">
        <activity
            android:name=".Calculators.SIP_Calculator"
            android:exported="false" />
        <activity
            android:name=".Calculators.Loan_Compare"
            android:exported="false" />
        <activity
            android:name=".Calculators.Loan_Calculator"
            android:exported="false" />
        <activity
            android:name=".Calculators.EMI_Calculator"
            android:exported="true" />
        <activity
            android:name=".Starting_Screens.Privacy_policy"
            android:exported="true" />
        <activity
            android:name=".Starting_Screens.Rate_us_Screen"
            android:exported="true" />
        <activity
            android:name=".Starting_Screens.Splash_Screen_Privacy"
            android:exported="false" />
        <activity
            android:name=".Loan_EMI_Selection"
            android:exported="true" />
        <activity
            android:name=".Calculators.Age_Calculator"
            android:exported="true" />
        <activity
            android:name=".Starting_Screens.Start_Selection_Screen"
            android:exported="true" />
        <activity
            android:name=".Starting_Screens.Start_Screen"
            android:exported="true" />
        <activity
            android:name=".Starting_Screens.Splash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>